<div class="row homepage-container">

  <div class="home-container col-sm-12">
    <a id="home"> </a>
    <div class="jumbotron">
      <div class="container">
        <h1 id="homepage-header">JOLIE</h1>
        <p id="city">LOS ANGELES</p>
        <p id="down-text"><a data-scroll href="#wholesale" class="btn" type="button" id="down-link">&gt;</a></p>
      </div>
    </div>
  </div>

  <div class="wholesale-container col-sm-12">
    <a id="wholesale"> </a>
    <div class="col-xs-12 wholesale-header-container">
      <h1>Wholesale</h1>
    </div>
    <div class="col-xs-6 wholesale-company1-container">
    </div>
    <div class="col-xs-6 wholesale-company2-container">
    </div>
  </div>
  <div class="about-container col-sm-12">
    <a id="about"> </a>
    <div class="col-xs-12 about-summary-container">
      <div class="col-xs-3 about-header-container">
        <h1>About</h1>
      </div>
      <div class="col-xs-9 about-content-container">
      </div>
    </div>
  </div>

  <div class="contact-container col-sm-12">
    <a id="contact"> </a>
    <div class="col-sm-6 contact-info-container">
      <div class="row contact-row">
        <div class="col-sm-12 contact-info-summary">
          <h1>Contact</h1>
        </div>

        <div class="col-sm-12" id="email-container">
          <%= form_for (@contact_request), url: create_path, html: { class: "form-horizontal" } do |f| %>
            <div class="form-group">
              <%= f.label :name, class: "col-md-3 control-label" %>
              <div class="col-md-7">
                <%= f.text_field :name, required: true, class: "form-control" %>
              </div>
            </div>
            <br>
            <div class="form-group">
              <%= f.label :email, class: "col-md-3 control-label" %>
              <div class="col-md-7">
                <%= f.text_field :email, required: true, class: "form-control" %>
              </div>
            </div>
            <br>
            <div class="form-group">
              <%= f.label :message, class: "col-md-3 control-label header green" %>
              <div class="col-md-7">
                <%= f.text_area :message, class: "form-control", rows: "6" %>
              </div>
            </div>
            <br>
            <div class="col-md-2 col-md-offset-5">
              <%= f.submit 'send', class: 'btn btn-default email-submit-btn' %>
            </div>
          <% end %>
        </div>
        <div class="col-md-12">
          <table class="table">
            <tr>
              <td>Address</td>
              <td>Contact Information</td>
            </tr>
            <tr>
              <td>1100 S. San Pedro St. #D-3<br>Los Angeles, CA 90015</td>
              <td>sales@jolieonline.com</td>
            </tr>
          </table>
        </div>
      </div>
    </div>



    <div class="col-sm-6 map-container">
      <div class="col-md-12 email-testing">
        <% if flash.any? %>
          <%= flash[:notice] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
