<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New request from <%= @name %></p>
    <p><%= @name %>&#39;s email: <%= @email %></p>
    <p>Message from <%= @name %></p>
    <p><%= @message %></p>
  </body>
</html>
